.primary-button {
  background-color: var(--colors-utils-offwhite);
  border-radius: var(--border-radius-small);
  height: var(--nav-button-height);
  color: var(--color-utils-black);
  transition: var(--transition-default);
  cursor: pointer;
}

.primary-button:hover {
  background-color: var(--color-utils-white);
  color: var(--color-utils-gray-light);
}

.secondary-button {
  border: 1px solid var(--colors-utils-offwhite);
  color: var(--colors-utils-offwhite);
  border-radius: var(--border-radius-small);
  height: var(--nav-button-height);
  background-color: transparent;
  transition: var(--transition-default);
  cursor: pointer;
}

.secondary-button:hover {
  border-color: var(--color-utils-white);
  color: var(--color-utils-white);
}
