.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border-radius: var(--border-radius-small);
  transition: var(--transition-default);
  height: var(--nav-button-height);
  padding: 0 var(--content-spacing-small);
}

.primary-button {
  background-color: var(--colors-utils-offwhite);
  color: var(--color-utils-black);
}

.primary-button:hover {
  background-color: var(--color-utils-white);
  color: var(--color-utils-gray-light);
}

.secondary-button {
  border: 1px solid var(--colors-utils-offwhite);
  color: var(--colors-utils-offwhite);
  background-color: transparent;
}

.secondary-button:hover {
  border-color: var(--color-utils-white);
  color: var(--color-utils-white);
}
