.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  position: sticky;
  top: 0;
  background-color: var(--color-utils-black);
  z-index: 90;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  max-width: 1440px;
  width: 100%;
  height: inherit;
  padding-left: var(--content-spacing-xlarge);
  padding-right: var(--content-spacing-xlarge);
  position: relative;
}

.header-column-left,
.header-column-right {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  width: var(--icon-size);
  height: var(--icon-size);
  padding: 2px;
}

.header-logo svg path {
  fill: var(--colors-utils-offwhite);
}

.header-button {
  border: 1px solid var(--colors-utils-offwhite);
  color: var(--colors-utils-offwhite);
  border-radius: var(--border-radius-small);
  height: var(--nav-button-height);
  background-color: transparent;
  transition: var(--transition-default);
  cursor: pointer;
}

.header-button:hover {
  color: var(--color-utils-white);
}

@media (max-width: 767px) {
  .header-logo {
    margin-left: var(--content-spacing-small);
  }
}
