.header-nav {
  display: flex;
  align-items: center;
}

#header-nav-toggle {
  display: none;
  border: 0;
  position: absolute;
  margin: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  left: 24px;
  top: 4px;
  z-index: -1;
}

.header-nav-label {
  display: none;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  cursor: pointer;
  background-color: var(--color-utils-black);
  transition: var(--transition-default);
  border: 1px solid var(--color-utils-offwhite);
  border-radius: var(--border-radius-small);
}

.hamburger-icon {
  width: inherit;
  height: inherit;
  position: relative;
}

.hamburger-icon span {
  width: 24px;
  height: 4px;
  background-color: var(--color-utils-offwhite);
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease;
}

.hamburger-icon:hover span {
  background-color: var(--color-utils-white);
}

#header-nav-toggle:checked
  ~ .header-nav-label
  .hamburger-icon
  span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#header-nav-toggle:checked
  ~ .header-nav-label
  .hamburger-icon
  span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#header-nav-toggle:checked
  ~ .header-nav-label
  .hamburger-icon
  span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.header-nav-content {
  display: flex;
  flex-direction: column;
  margin-left: var(--content-spacing-large);
}

.header-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: var(--nav-button-height);
}

.header-nav-item:not(:last-child) {
  margin-right: var(--content-spacing-large);
}

.header-nav-item a {
  text-decoration: none;
  color: var(--color-utils-offwhite);
  position: relative;
  line-height: var(--nav-button-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  border-radius: var(--border-radius-small);
  padding: 0 8px;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.header-nav-item a:hover {
  color: var(--color-utils-white);
  background-color: var(--color-utils-gray);
}

.header-nav-item.active a {
  color: var(--color-utils-white);
  background-color: var(--color-utils-gray-light);
}

.header-icons-list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: var(--content-spacing-large) 0;
  border-top: 1px solid var(--color-utils-gray-lighter);
}

.header-icons-item {
  position: relative;
}

.header-icons-item:not(:last-child) {
  margin-right: var(--content-spacing-large);
}

.header-icon {
  display: flex;
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  position: relative;
  background-color: var(--color-utils-black);
}

.header-icon svg path {
  fill: var(--color-utils-offwhite);
  transition: fill 0.3s ease;
}

.header-icons-item:hover svg path {
  fill: var(--color-utils-white);
}

@media (max-width: 767px) {
  #header-nav-toggle,
  .header-nav-label {
    display: flex;
  }

  .header-nav-content {
    display: none;
    position: absolute;
    left: 0;
    top: var(--nav-height);
    background-color: var(--color-utils-black);
    width: 100%;
    border-top: 1px solid var(--color-utils-gray);
    margin-left: 0;
  }

  #header-nav-toggle:checked ~ .header-nav-content {
    display: flex;
  }

  #header-nav-toggle:checked ~ .header-nav-content .header-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header-nav-list {
    flex-direction: column;
  }

  .header-nav-item {
    height: var(--nav-button-height-mobile);
  }

  .header-nav-item a {
    line-height: var(--nav-button-height-mobile);
    margin: var(--content-spacing-small);
    align-items: center;
    padding: 0;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 0;
  }
}
