.sitemap {
  position: fixed;
  max-width: 300px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-utils-white);
  z-index: var(--index-important);
  border-top-right-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
  box-shadow: 0 10px 18px var(--color-utils-gray);
  display: none;
  font-family: var(--font-family-default);
  color: var(--color-utils-black);
}

.sitemap:target {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--content-spacing-xlarge);
}

.close-button {
  position: absolute;
  top: var(--content-spacing-medium);
  right: var(--content-spacing-medium);
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  display: flex;
}

.sitemap .animated-icon {
  --animated-icon-width: 24px;
  --animated-icon-background: transparent;
  --animated-icon-color: var(--color-utils-black);
  --animated-icon-hover: var(--color-utils-gray-light);
}

.sitemap-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  margin-bottom: var(--content-spacing-large);
  width: 100%;
}

.sitemap-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
}

.sitemap-group {
  width: 100%;
}

.sitemap-group:not(:last-child) {
  margin-bottom: var(--content-spacing-medium);
  padding-bottom: var(--content-spacing-medium);
  border-bottom: 1px solid var(--color-utils-offwhite);
}

.sitemap-list {
  list-style: none;
}

.sitemap-list-item {
  width: 100%;
  margin-top: var(--content-spacing-small);
}

.sitemap-list-item a {
  width: 100%;
  display: flex;
  padding: var(--content-spacing-xsmall) var(--content-spacing-medium);
  text-decoration: none;
  color: var(--color-utils-black);
  transition: var(--transition-default);
}

.sitemap-list-item a:hover,
.sitemap-list-item a:focus {
  background-color: var(--color-utils-offwhite);
}

@media (max-width: 419px) {
  .sitemap {
    max-width: unset;
    border-radius: 0;
  }
}
